/**/
body{
   background-image: url("../img/BG21.png");
 
   background-position:center top;
   background-repeat:no-repeat;
   -moz-background-size:cover;
   background-size:cover;
   color:orange;
   font-size: 20px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

#item1{
   margin: 0 auto;   
   padding-left: 10px;
}

#item2{
  margin: 0 auto;  
   padding-left: 10px;
}

#item3{
   padding-top: 200px;
   padding-left: 10px;
   font-size: 25px;
}
